@model FarmerRegistrationModel
@{
    ViewBag.Title = "Create";
}

<h1>Creating new Farmer profile...</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email">Email<span class="text-danger"> * </span></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DisplayName" class="form-control" autocomplete="Displayname" aria-required="true" placeholder="yourname" />
                <label asp-for="DisplayName">Display Name</label>
                <span asp-validation-for="DisplayName " class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Password">Password<span class="text-danger"> * </span></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="ConfirmPassword">Confirm Password<span class="text-danger"> * </span></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @* 
            This code was taken from a Youtube video
            Uploaded by: Macro Code
            Titled: ASP.NET Core 7.0 Role Based Authorization || How to Implement Roles Based Authorization
            Available at: https://www.youtube.com/watch?v=VZgxKbAdbbo
            Accessed 24 May 2023 
            *@
            <div class="form-floating mb-3">
                <select asp-for="Role" class="form-select" aria-required="true">
                    <option disabled selected>Click me</option>
                    <option>Farmer</option>
                </select>
                <label asp-for="Role">Select Role<span class="text-danger"> * </span></label>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-formpurple">
                <i class="bi bi-person-fill-add"></i>
                Register
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

